---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import Showcase from "../components/Showcase.astro";
import Features from "../components/Features.astro";

import fetchApi from "../lib/strapi";
import type Report from "../interfaces/report";

//fetch data from strapi
const reports = await fetchApi<{
    [x: string]: any;
    data: Report[];
    meta: any;
}>({
    endpoint: "reports", // the content type to fetch
    wrappedByKey: "data", // the key to unwrap the response
});

// let visible = true;
---

<Layout title="Welcome to Astro.">
    <Showcase />
    <Features />
    <!-- {visible ? <div>1</div> : <div>2</div>} -->
</Layout>

<style></style>
