---
import logo from "../images/logo.png";
---

<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">
                <img src={logo} alt="" class="rounded-xl hover:rounded-md" />
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="/" class="hover:text-blue-500">Home</a></li>
                <li>
                    <a href="/about" class="hover:text-blue-500">About</a>
                </li>
                <li><a href="/blog" class="hover:text-blue-500">Blog</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    .header {
        height: 70px;
        background: var(--color-background-light);
    }

    .header .container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;
        margin: auto;
    }

    .header img {
        height: 50px;
        vertical-align: middle;
    }

    .header nav ul {
        display: flex;
    }

    .header nav ul li {
        padding: 0 10px;
    }

    .header nav ul li a {
        color: var(--color-text-dark);
    }
</style>
